# Standard Python ignores
# Virtual environment
venv/
env/
.venv/

# Byte-code files
__pycache__/
*.pyc
*.pyd
*.pyo

# Distribution / packaging
.Python
build/
dist/
wheels/
*.egg-info/
*.po
*.mo

# Editors/IDE
.idea/  # For PyCharm/IntelliJ
.vscode/ # For VS Code (optional, as config might be useful to share)
*.swp
*~
.DS_Store # macOS files

runs/


# Environment variables
.env

# Logs
logs/